.info {
  color: rgb(255, 77, 0);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 2px solid rgb(255, 77, 0);
}

.text {
  padding: 20px;
  font-size: 20px;
  line-height: 1.2;
}

.textInfo {
  width: 500px;
}

.button {
  display: inline-block;
  margin-left: 30px;
  height: 38px;
  border-radius: 4px;
  border-color: transparent;
  background-color: rgb(255, 42, 0);
  background-image: url(../../icons/arrow-guidance-location-4-svgrepo-com.svg);
  background-repeat: no-repeat;
  width: 170px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 1px 3px 3px rgb(27, 67, 244), 0px 1px 1px 0px rgb(27, 67, 244),
    0px 2px 1px -1px rgb(27, 67, 244);
}

.score {
  font-size: 30px;
}

.title {
  font-size: 40px;
  color: blue;
}

.date {
  color: rgb(255, 42, 0);
}

.description {
  font-size: 30px;
  color: blue;
}

.image {
  box-shadow: 2px 5px 5px 3px rgb(27, 67, 244), 0px 1px 1px 0px rgb(27, 67, 244),
    0px 2px 1px -1px rgb(27, 67, 244);
}
