.list {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 0;

  list-style: none;
}

.title {
  margin: 0;
  font-size: 30px;
  color: blue;
}

.character {
  margin-top: 10px;
  font-size: 20px;
  color: blue;
}

.text {
  font-size: 20px;
  color: rgb(255, 42, 0);
}

.profileInfo {
  padding-top: 10px;
  padding-left: 20px;
}

.card {
  width: 500px;
  margin-bottom: 50px;
  border: 1px solid blue;
  border-radius: 3px;
  background-color: rgb(15, 13, 22);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
  transform: scale(1.03);
  cursor: zoom-in;
  box-shadow: 2px 5px 5px 3px rgb(27, 67, 244), 0px 1px 1px 0px rgb(27, 67, 244),
    0px 2px 1px -1px rgb(27, 67, 244);
}
