.title {
  font-size: 22px;
  color: blue;
}

.text {
  font-size: 18px;
  line-height: 1.2;
  color: rgb(255, 42, 0);
}
.item {
  padding-right: 30px;
  padding-bottom: 60px;
  list-style: none;
}

.alert {
  color: red;
}

.review {
  padding-left: 20px;
}
