.nav {
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  height: 40px;
  background-color: rgb(26, 26, 29);
  border-bottom: 2px solid rgb(255, 77, 0);
}

.link {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 4px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  color: blue;
}

.link:hover {
  color: rgb(255, 77, 0);
}

.active {
  color: rgb(255, 77, 0);
}
