.button {
  width: 80px;
  height: 36px;
  border-radius: 4px;
  border-color: transparent;
  background-color: rgb(255, 42, 0);
  cursor: pointer;

  font-size: 18px;
}

.input {
  margin-right: 10px;
  width: 300px;
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
  color: rgb(255, 42, 0);
  border-color: rgb(255, 42, 0);
  background-color: transparent;
  outline: none;
}

.nav {
  padding-left: 30px;
}
