.title {
  font-size: 28px;
  color: blue;
}

.link {
  font-size: 18px;
  line-height: 1.4;
  color: blue;
  text-decoration: none;
}

.section {
  padding-left: 20px;
}

.item {
  list-style: none;
}
